body{
    background-color: rgba(0,0,0,0.4);
}
.signature-pad--header {
    border-radius: unset;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.4), 0 0 5px rgba(0, 0, 0, 0.08) inset;
    -webkit-app-region: drag;
}

.signature-pad--header button, input {
    -webkit-app-region: no-drag;
}
.signature-actions {
    -webkit-app-region: no-drag;
}
.icon-min {
    background-image: url(./assets/minimize.svg);
}
.icon-max {
    background-image: url(./assets/maximize.svg);
}
.icon-restore {
    background-image: url(./assets/restore.svg);
}
.icon-close {
    background-image: url(./assets/close.svg);
}